doctype html
html
	head

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		block head
body
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header.page-scroll
				button.navbar-toggle(type='button', data-toggle='collapse')
					span.sr-only Toggle navigation
				a.navbar-brand.page-scroll(href='/')
					| ZipcodAPI
	// Header
	section
		.container
			.intro-text
				.row
					.col-md-4.col-xs-2.col-sm-3
					.col-md-4.col-xs-8.col-sm-6
						form(action='zip', method='get')
							.form-group
								input#zip.form-control(type='text', placeholder='Zipcode', name="zip", required=true, data-validation-required-message='Please put in zipcode')
								p.help-block.text-danger
								button.btn#btnDown(type='submit')
									|  LOOK UP
								textarea#result.form-control(name='r') #{zip}, #{city}, #{state}, #{error}

script(src="/bower_components/jquery/dist/jquery.min.js")

link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css')
script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
link(href='/bower_components/components-font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')

link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

link(rel="stylesheet" href="/public/css/default.css")
link(rel='stylesheet', href='/public/css/main.css')

script(src='/public/js/jqBootstrapValidation.js')

script(src="/public/js/default.js")
style.
	#zip {
		border-radius: 0px;
		font-size: large;
		font-family: "American Typewriter";
		height: 45px;
	}
	#btnDown{
		background-color: rgba(255, 255, 255, 0.08);
		border-color: rgba(255, 255, 255, 0.2);
		border-radius: 0px;
		border-style: solid;
		border-width: 1px;
		color: rgba(255, 255, 255, 0.7);
		font-size: large;
		font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
		display: inline-block;
		margin-top: 1rem;
		transition: color .2s, background-color .2s, border-color .2s;
	}

	#btnDown:hover {
		color: #ffffff;
	}

	#result {
		border-radius: 0px;
		font-size: large;
		margin-top: 40px;
		font-family: "American Typewriter";
		height: 145px;
	}